<center>
  <a href="13.1%20ODBC.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="14.1.A. Retrieving HTML -Badminton.ipynb">Impress yourfriend: Activity</a></center>

# 14.1 Retrieving HTML Tables

In [1]:
import pandas as pd

In [2]:
# URL = 'https://sg.finance.yahoo.com/currencies'
URL = 'https://www.x-rates.com/table/?from=SGD&amount=1'

In [3]:
df_backup=pd.read_html(URL,index_col=None)
df=df_backup[0]

In [4]:
df

        Singapore Dollar    1.00 SGD  inv. 1.00 SGD
0              US Dollar    0.711835       1.404820
1                   Euro    0.712284       1.403933
2          British Pound    0.617996       1.618133
3           Indian Rupee   56.624724       0.017660
4      Australian Dollar    1.057366       0.945747
5        Canadian Dollar    0.937200       1.067008
6            Swiss Franc    0.684105       1.461764
7      Malaysian Ringgit    3.221367       0.310427
8           Japanese Yen  102.449788       0.009761
9  Chinese Yuan Renminbi    4.954301       0.201845

In [5]:
df.columns

Index(['Singapore Dollar', '1.00 SGD', 'inv. 1.00 SGD'], dtype='object')

In [6]:
df.loc[:, ['Name', 'Last price']]

       Name   Last price
0   USD/SGD      1.36922
1   SGD/MYR      3.04240
2   GBP/SGD      1.80130
3   EUR/SGD      1.57190
4   SGD/JPY     82.77200
5   SGD/HKD      5.71600
6   SGD/IDR  10648.15400
7   SGD/CNY      5.05110
8   SGD/PHP     38.51000
9   SGD/THB     23.95290
10  SGD/INR     52.95400
11  SGD/VND  17001.60000
12  SGD/KRW    815.54000
13  AUD/SGD      0.99720
14  NZD/SGD      0.92860
15  GBP/USD      1.31563
16  USD/JPY    113.33800
17  USD/HKD      7.83035
18  USD/MYR      4.16400
19  USD/INR     72.48900
20  USD/CNY      6.91730
21  USD/PHP     52.72000
22  USD/IDR  14575.00000
23  USD/THB     32.78000
24  USD/CHF      0.99818
25  USD/MXN     19.84470
26  AUD/USD      0.72810
27  NZD/USD      0.67860
28  USD/KRW   1117.05000
29  USD/VND  23320.00000
30  USD/CAD      1.30900
31  EUR/JPY    130.11100
32  GBP/JPY    149.11700
33  EUR/GBP      0.87252
34  EUR/SEK     10.32611
35  EUR/CHF      1.14588
36  EUR/HUF    321.59000
37  EUR/JPY    130.11100

<center>
  <a href="1.13.ODBC.ipynb">Previous Page</a> | <a href="./">Content Page</a> | <a href="14.1.A. Retrieving HTML -Badminton.ipynb">Impress yourfriend: Activity</a></center>